<div class="fixedHeaderContainer">
  <div class="headerWrapper wrapper">
    <header>
      <a href="/">
        <img class="logo" src="/static/icon.png">
        <h2 class="headerTitle">Personal Space</h2>
      </a>
      <div class="navigationWrapper navigationSlider">
        <nav class="slidingNav">
          <ul class="nav-site nav-site-internal">
            <li>
              <a href="{{ url }}" target="{{ target }}">
                Common Issues
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </div>
</div>