<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " zh-CN " }}">
{% include head.html %}

<body>
    {% include navbar.html %}
    <div class="navPusher">
        <div>
            <script src="/static/landing.js"></script>
            <div class="homeContainer">
                <div class="homeSplashFade">
                    <div class="wrapper homeWrapper">
                        <div class="inner">
                            <img src="/static/images/PS_LOGO.png" width="40%">
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <img src="/static/MAN_RUNNING.png" width="10%">
                            <h2 class="projectTitle">
                                <small style="color: coral">{{ site.data.i18n.tag_line }}
                                </small>
                                <small style="color: coral; margin-top: -35px">{{ site.data.i18n.tag_line2 }}
                                </small>
                            </h2>
                            <div class="section promoSection" style="margin-top: -50px;">
                                <div class="promoRow">
                                    <div class="pluginRowBlock">
                                        <div class="pluginWrapper buttonWrapper">
                                            <a class="button" href="" target="_self">
                                                <i class="fab fa-steam"></i>
                                                Steam Early Access
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainContainer">
                <div class="productShowcaseSection lightBackground">
                    <div style="margin: 0 auto; text-align: center; width: 50%;">

                        <iframe id="video_pc" style=" min-height: 360px; border-radius: 5px; -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
                        box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);" width="560"
                            src="https://www.youtube.com/embed/GZNZ6OYEWmo" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                        <iframe id="video_mobile" style="min-height: 100px; border-radius: 5px; -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
                        box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);"
                            src="https://www.youtube.com/embed/GZNZ6OYEWmo" frameborder="0" width="100%"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    </div>
                    <div style="max-width: 43%; text-align: center; margin: 0 auto; padding-top: 20px;">
                        <h3 style="color: coral !important; font-size: 20px !important;;">
                            The FIRST empathy game produced by a Capstone team within University of Utah EAE program
                        </h3>
                    </div>
                </div>
                <div class="productShowcaseSection">
                    <div style="margin: 0 auto; text-align: center;">
                        <img src="/static/images/Capture2.PNG" width="580" style="border-radius: 5px; -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
                                box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);" />
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                        <img src="/static/images/Capture8.PNG" width="580" style="border-radius: 5px; -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
                                box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);" />
                    </div>
                    <div style="max-width: 43%; text-align: center; margin: 0 auto; padding-top: 20px;">
                        <h4 style="color: coral !important;font-size: 20px !important;">
                            Get it now on Steam and the Google Play Store!
                        </h4>
                    </div>
                </div>
                <div class="tldrSection productShowcaseSection lightBackground">
                    <div class="container">
                        <div class="wrapper">


                            <div style="display:flex;flex-flow:row wrap;justify-content:space-evenly;">
                                <div style="display:flex;flex-direction:column;">
                                    <h2>What is Social Anxiety?</h2>
                                    <ul style="flex:1;">
                                        {% for item in site.data.home.left %}
                                        <li>{{ site.data.i18n.home_left[item] }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div style="display:flex;flex-direction:column;">
                                    <h2>Why do We Build Such Game?</h2>
                                    <ul style="flex:1;">
                                        {% for item in site.data.home.right %}
                                        <li>{{ site.data.i18n.home_right[item] }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="productShowcaseSection">
                    <div class="margin: 0 auto; text-align: center;">

                        <h1 class="center" style="font-size: 50px !important; color: coral; text-align: center; margin-bottom: 40px;">Latest Tweet</h1>
                        <a class="twitter-timeline center" href="https://twitter.com/PastelPeaks" data-tweet-limit="1"
                            data-width="320" data-height="100">123</a>
                    </div>
                    <!-- <div style="float:right;">
                        <span>Got more? </span>
                        <a href="https://github.com/lets-blade/blade/pulls" class="button"> Send a PR </a>
                    </div> -->
                </div>
                <!-- <div class="getStartedSection productShowcaseSection lightBackground">
                    <div class="container">
                        <div class="wrapper">
                            <div class="getStartedFlexContainer"
                                style="display:flex;flex-flow:row;align-items:baseline;justify-content:space-between;">
                                <div class="getStartedSteps">
                                    <h2>{{ site.data.i18n.about-us }}</h2>
                                    <ol>
                                        <li>
                                            <div class="mavenOnly">
                                                <div>

                                                </div>
                                            </div>
                                            <div class="gradleOnly">
                                                <div>

                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="mavenOnly">
                                                <div>

                                                </div>
                                            </div>
                                            <div class="gradleOnly">
                                                <div>

                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                                <div
                                    style="display:flex;flex-direction:column;align-items:flex-end;flex-grow:1;margin-left:-75px;">
                                    <div class="buttonGroup buttonWrapper">
                                        <a class="button active showMavenButton" href="javascript:void(0)">Producers</a>
                                        <a class="button showArtistsButton" href="javascript:void(0)">Artists</a>
                                        <a class="button showDesignerButton" href="javascript:void(0)">Designers</a>
                                        <a class="button showProgrammersButton"
                                            href="javascript:void(0)">Programmers</a>
                                    </div>
                                    <img class="decorativeRects" style="margin-top:32px;"
                                        src="/static/images/get_started_rects.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="tldrSection productShowcaseSection lightBackground">
                    <div class="container">
                        <h1 class="center" style="color: coral; text-align: center; font-size: 50px !important; margin-bottom: 8px !important;">About Us</h1>
                        <div class="wrapper margin-top" style="margin-top: 30px !important;">
                            
                            <div style="display:flex;flex-flow:row wrap;justify-content:space-evenly;">
                                <div style="display:flex;flex-direction:column;">
                                    <h2 style="margin-bottom: 0.8em !important;">Music</h2>
                                    <ul style="flex:1; margin-top: -5px !important;">
                                        {% for item in site.data.home.left %}
                                        <li>{{ site.data.i18n.about_left[item] }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div style="display:flex;flex-direction:column;">
                                    <h2 style="margin-bottom: 0.8em !important;">Production</h2>
                                    <ul style="flex:1;">
                                        {% for item in site.data.home.right %}
                                        <li>{{ site.data.i18n.producer[item] }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div style="display:flex;flex-direction:column;">
                                    <h2 style="margin-bottom: 0.8em !important;">Art</h2>
                                    <ul style="flex:1;">
                                        {% for item in site.data.home.left %}
                                        <li>{{ site.data.i18n.art[item] }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div style="display:flex;flex-direction:column;">
                                    <h2 style="margin-bottom: 0.8em !important;">Design</h2>
                                    <ul style="flex:1;">
                                        {% for item in site.data.home.right %}
                                        <li>{{ site.data.i18n.design[item] }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div style="display:flex;flex-direction:column;">
                                    <h2 style="margin-bottom: 0.8em !important;">Engineering</h2>
                                    <ul style="flex:1;">
                                        {% for item in site.data.home.left %}
                                        <li>{{ site.data.i18n.engineer[item] }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}


</body>

</html>


<script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>

<script>
    function _isMobile() {
        // if we want a more complete list use this: http://detectmobilebrowsers.com/
        // str.test() is more efficent than str.match()
        // remember str.test is case sensitive
        var isMobile = (/iphone|ipod|android|ie|blackberry|fennec/).test
            (navigator.userAgent.toLowerCase());
        return isMobile;
    }

    if (_isMobile()) {
        document.getElementById("video_pc").style.display = "none";
    }
    else {
        document.getElementById("video_mobile").style.display = "none";
    }

</script>